*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    background: linear-gradient(90deg,  #195241,#407867,#195241  );
}
.table{
    background-color: rgba(255,255 , 255, .3);
    color: black;
    width: 50px;
    margin-left: 34vw;
    margin-top: 15vw;
    border-radius: 20px;

    
}


