.Motorola-One---Fusion1-rgba { color: rgba(66, 32, 140, 1); }
.Motorola-One---Fusion2-rgba { color: rgba(50, 32, 114, 1); }
.Motorola-One---Fusion3-rgba { color: rgba(32, 34, 89, 1); }
.Motorola-One---Fusion4-rgba { color: rgba(12, 39, 63, 1); }
.Motorola-One---Fusion5-rgba { color: rgba(79, 212, 242, 1); }

*{
    margin: 0;
    padding: 0;
}
body{
    
}